.Navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 24px 0;
  background-color: rgb(238, 238, 238);
}

.Navigation__navLink {
}

.Navigation__navLink a{
  padding: 24px;
  text-decoration: none;
  font-weight: 500;
  color: #535353;
}
.Navigation__navLink a:hover{
  background-color: #535353;
  color: white;
}